/* for line numbers */
body {
    @apply text-[#0f172a];
}
#htmlcontainer [class*="language-"] {
    counter-reset: linenumber;
}

#htmlcontainer pre {
    @apply inline overflow-auto;

    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

#htmlcontainer h1,
#htmlcontainer h2,
#htmlcontainer h3,
#htmlcontainer h4,
#htmlcontainer h5,
#htmlcontainer h6 {
    @apply font-bold mb-2 mt-6;
}

#htmlcontainer {
    @apply text-lg;
}

#htmlcontainer h1 {
    @apply text-4xl font-bold;
}

#htmlcontainer h2 {
    @apply text-2xl;
}

#htmlcontainer h3 {
    @apply text-xl;
}

#htmlcontainer h4 {
    @apply text-lg;
}

#htmlcontainer p {
    @apply text-lg mb-4;
}

#htmlcontainer a {
    @apply text-base underline text-blue-500;
}

#htmlcontainer ul {
    @apply list-disc list-inside ml-5 mb-4;
}

#htmlcontainer ul li {
    @apply list-disc list-inside;
}

#htmlcontainer ol {
    @apply list-decimal list-inside ml-5 mb-4;
}

#htmlcontainer ol li {
    @apply list-decimal list-inside;
}

#htmlcontainer hr {
    @apply my-4 block border border-gray-400;
}

#htmlcontainer sup a {
    @apply text-xs italic text-blue-500;
}

#htmlcontainer code {
    @apply p-1 bg-gray-200 rounded max-w-5xl;
}

#htmlcontainer pre {
    @apply block p-3 bg-gray-200 rounded mb-3 max-w-5xl;
}

#htmlcontainer blockquote {
    @apply block px-3 p-2 bg-gray-300 border border-l-[4px] border-l-gray-400 pl-3 mb-2;
}

#htmlcontainer blockquote p {
    @apply mb-0 text-lg;
}

#htmlcontainer p img {
    @apply m-8 border border-gray-200 rounded-xl max-w-[90%];
}

#htmlcontainer .heading-anchor {
    @apply text-gray-500 no-underline;
}

#desktop-navigation h3 {
    @apply text-[#2D31A6];
}

#desktop-navigation ul ul {
    @apply flex flex-col mb-5 border-collapse border-l-[2px];
}

#desktop-navigation ul li a {
    @apply -ml-px flex flex-row hover:underline py-1 px-4 border-l-[2px];
}

#desktop-navigation ul li.active a {
    @apply border-l-[2px] border-[#6172F3];
}

nav.documents {
    overflow: scroll;
}

nav.documents a {
    @apply text-lg md:text-base;
}

nav .quicklinks a {
    @apply text-lg md:text-base md:mb-1;
}

nav.documents ul {
    @apply mb-2 md:mb-0;
}

nav.documents ul li,
nav.documents h3 {
    @apply px-3 md:px-0;
}
nav.documents ul li a {
    @apply border-l-0;
}

nav.documents h3 {
    @apply text-base font-bold md:text-sm md:font-medium md:mb-3 md:tracking-wide;
}

.medium-zoom-overlay,
.medium-zoom-image--opened {
    z-index: 999;
}
