<!DOCTYPE html>
<html lang="en" class="min-h-screen">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ .SiteTitle }} Documentation </title>

    <link rel="stylesheet" href="style.css">
</head>
<body class="flex flex-col min-h-screen bg-red">
  <header class="flex flex-row items-center">
    <div class="bg-gray-100 lg:w-[300px] p-4 justify-center">
      <a href="/">{{ .SiteTitle }}</a>
    </div>
    <div class="bg-gray-50 p-4 px-8 flex-grow text-gray-400"> {{.SiteTitle}} Documentation </div>
  </header>

  <div class="flex flex-row flex-grow">
    <nav class="bg-gray-100 w-[300px] p-4 hidden lg:block">
      <ul class="list-none flex flex-col gap-2">
        {{ .Navigation }}
      </ul>
    </nav>

    <main class="flex-1 p-4 px-8 max-w-5xl mr-auto">
      {{ .HTML }}
    </main>
  </div> 
</body>

</html>