<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{.SiteConfig.Name}} - {{.Title}} </title>
    <meta name="description" content="{{.Description}}">
    <meta name="Keywords" content="{{.Keywords}}">

    <link rel="icon" type="image/png" href="{{.SiteConfig.Favicon}}" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Style for the content of the page -->
    <style type="text/tailwindcss">
       {{.Style}}
    </style>

</head>
<body class="bg-gray-50 max-w-[1400px] mx-auto flex flex-col min-h-full">
    <header class="sticky top-0 z-40 w-full px-3 border-gray-200 bg-gray-50 border-b flex flex-row gap-8 py-4 items-center">

        {{ if not (eq .SiteConfig.Logo.Link "") }}
            <a href="{{.SiteConfig.Logo.Link}}" class="font-bold text-xl flex flex-row gap-1 items-center">
                <img src="{{.SiteConfig.Logo.ImageSrc}}" class="h-8" />
            </a>
        {{ else }}
            <a href="/" class="font-bold text-xl flex flex-row gap-1 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
                </svg>
                Doco
            </a>
        {{end}}

        <div class="flex items-center gap-8">
            {{ if not (eq .SiteConfig.Announcement.Text "") }}
                <a href="{{ .SiteConfig.Announcement.Link }}" class="hidden md:flex rounded-full p-3 py-1.5 bg-white border text-sm flex flex-row items-center gap-2 hover:border-gray-300">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.2" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.34 15.84c-.688-.06-1.386-.09-2.09-.09H7.5a4.5 4.5 0 1 1 0-9h.75c.704 0 1.402-.03 2.09-.09m0 9.18c.253.962.584 1.892.985 2.783.247.55.06 1.21-.463 1.511l-.657.38c-.551.318-1.26.117-1.527-.461a20.845 20.845 0 0 1-1.44-4.282m3.102.069a18.03 18.03 0 0 1-.59-4.59c0-1.586.205-3.124.59-4.59m0 9.18a23.848 23.848 0 0 1 8.835 2.535M10.34 6.66a23.847 23.847 0 0 0 8.835-2.535m0 0A23.74 23.74 0 0 0 18.795 3m.38 1.125a23.91 23.91 0 0 1 1.014 5.395m-1.014 8.855c-.118.38-.245.754-.38 1.125m.38-1.125a23.91 23.91 0 0 0 1.014-5.395m0-3.46c.495.413.811 1.035.811 1.73 0 .695-.316 1.317-.811 1.73m0-3.46a24.347 24.347 0 0 1 0 3.46" />
                    </svg>

                    <span>{{ .SiteConfig.Announcement.Text }}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.2" stroke="currentColor" class="w-3 h-3">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                    </svg>
                </a>
            {{ end }}
        </div>
        <nav class="flex-grow flex justify-end">
            <ul class="flex flex-row gap-7 font-medium hidden lg:flex border-r ">
                {{ range .SiteConfig.ExternalLinks }}
                    <li>
                        <a href="{{.Link}}" class="hover:underline flex flex-row gap-1 items-center mr-8">
                            {{.Text}}

                        </a>
                    </li>
                {{ end }}
            </ul>
        </nav>

        <div class="md:hidden flex flex-row gap-4 items-center">
            <span class="search-button">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                </svg>
            </span>
            <span class="toggle-mobile-nav">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-8 h-8">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </span>
        </div>

        {{ if not (eq .SiteConfig.Github "") }}
            <div class="flex-row gap-10 hidden md:flex">
                <div class="flex flex-row items-center justify-items-end">
                    <a href="{{.SiteConfig.Github}}" class="rounded-full hover:bg-gray-200 p-2.5">
                        <svg viewBox="0 0 24 24" aria-hidden="true" class="h-6 w-6 fill-slate-900"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.477 2 2 6.463 2 11.97c0 4.404 2.865 8.14 6.839 9.458.5.092.682-.216.682-.48 0-.236-.008-.864-.013-1.695-2.782.602-3.369-1.337-3.369-1.337-.454-1.151-1.11-1.458-1.11-1.458-.908-.618.069-.606.069-.606 1.003.07 1.531 1.027 1.531 1.027.892 1.524 2.341 1.084 2.91.828.092-.643.35-1.083.636-1.332-2.22-.251-4.555-1.107-4.555-4.927 0-1.088.39-1.979 1.029-2.675-.103-.252-.446-1.266.098-2.638 0 0 .84-.268 2.75 1.022A9.607 9.607 0 0 1 12 6.82c.85.004 1.705.114 2.504.336 1.909-1.29 2.747-1.022 2.747-1.022.546 1.372.202 2.386.1 2.638.64.696 1.028 1.587 1.028 2.675 0 3.83-2.339 4.673-4.566 4.92.359.307.678.915.678 1.846 0 1.332-.012 2.407-.012 2.734 0 .267.18.577.688.48 3.97-1.32 6.833-5.054 6.833-9.458C22 6.463 17.522 2 12 2Z"></path></svg>
                    </a>
                </div>
            </div>
        {{ end }}
    </header>

    <section class="flex-grow flex flex-row px-3">
        <aside class="hidden lg:block lg:fixed min-w-[19rem] pr-5 flex flex-col gap-1 pt-6">
            <button class="search-button border min-w-[17rem] rounded-lg p-2 px-3 mb-6 bg-gray-50 text-left flex flex-row hover:border-gray-400 hover:bg-white items-center">
                <svg width="24" height="24" fill="none" aria-hidden="true" class="mr-3 flex-none">
                    <path d="m19 19-3.5-3.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><circle cx="11" cy="11" r="6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></circle>
                </svg>
                Quick Search
                <span class="ml-auto pl-3 flex-none text-sm font-semibold">⌘K</span>
            </button>

            <div class="max-h-[calc(100vh-180px)] overflow-y-scroll pb-10">

                <ul class="flex flex-col mb-8">
                    {{range .SiteConfig.QuickLinks}}
                        <li>
                            <a href="{{.Link}}" class="flex flex-row gap-2 p-1.5 rounded-lg hover:bg-gray-200/80">
                                <span class="material-symbols-outlined">{{.Icon}}</span>
                                {{.Text}}
                            </a>
                        </li>
                    {{end}}

                </ul>

                <nav id="desktop-navigation">
                    {{.Navigation}}
                </nav>
            </div>
        </aside>

        <section class="flex-grow flex flex-col lg:ml-[19rem]">
            <main class="flex-grow lg:px-5 px-5 py-5 text-md lg:text-lg pb-10">
                {{ if not (eq .SectionName "") }}
                    <span class="text-sm">{{ .SectionName }}</span>
                {{ end }}

                <h1 id="welcome" class="font-bold text-4xl mb-2">
                    {{ .Title }}
                </h1>

                <div id="htmlcontainer" class="max-w-5xl">
                    {{ .Content }}
                </div>

                <div class="grid grid-cols-2 gap-2 justify-between text-gray-600 pt-8">
                    <div>
                        {{if not (eq .Prev.Link "")}}
                            <a class="p-3.5 px-5 flex border rounded-lg hover:shadow" href="/{{.Prev.Link}}">
                                <span class="flex flex-col">
                                    <span class="text-base">Previous </span>
                                    <span class="text-lg flex flex-row gap-3 font-bold">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
                                        </svg>
                                        {{ .Prev.Title }}
                                    </span>
                                </span>
                            </a>

                        {{end}}
                    </div>
                    <div>
                        {{if not (eq .Next.Link "")}}
                            <a class="p-3.5 px-5 border rounded-lg flex flex-row flex-row-reverse hover:shadow" href="/{{.Next.Link}}">
                                <span class="flex flex-col text-right">
                                    <span class="text-base">Next </span>
                                    <span class="text-lg flex flex-row gap-2 font-bold">
                                        {{ .Next.Title }}
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                                        </svg>
                                    </span>
                                </span>
                            </a>
                        {{end}}
                    </div>
                </div>
            </main>


            <footer class="px-5 py-8 items-center flex flex-row text-gray-400 border-t">
                <span class="flex-grow text-sm" id="copy">{{.SiteConfig.Copy}}</span>
                <a href="https://doco.sh" class="text-sm underline flex flex-row items-center gap-1" target="_blank">
                    Powered by <strong class="font-bold">Doco</strong>

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                    </svg>
                </a>
            </footer>
        </section>
    </section>

    <div id="search-palette" class="hidden fixed inset-0 z-[100] overflow-y-auto p-4 sm:p-6 md:p-20" role="dialog" aria-modal="true">
        <div id="search-overlay" class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
        <div class="z-[100] mx-auto max-w-2xl transform divide-y divide-gray-100 overflow-hidden rounded-xl bg-white shadow-2xl ring-1 ring-black ring-opacity-5 transition-all">
            <div class="relative">
                <svg class="pointer-events-none absolute top-3.5 left-4 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                </svg>
                <input id="search-input" type="text" class="h-12 w-full border-0 bg-transparent pl-11 pr-4 text-gray-800 placeholder-gray-400 focus:ring-0 outline-none sm:text-sm" placeholder="">
                <button id="close-search" class="bg-gray-200 h-8 w-8 text-xs text-gray-600 rounded-md inline-block absolute right-2 top-2">esc</button>
            </div>

            <ul id="search-quick-actions" class="max-h-80 scroll-py-2 divide-y divide-gray-100 overflow-y-auto">
                <li class="p-2">
                    <h2 class="sr-only">Quick actions</h2>
                    <ul class="text-sm text-gray-700">
                        {{range .SiteConfig.QuickLinks}}
                            <li class="group cursor-default select-none items-center rounded-md px-3 py-2">
                                <a href="{{.Link}}" class="flex flex-row items-center group hover:text-blue-500">
                                    <span class="material-symbols-outlined">{{.Icon}}</span>
                                    <span class="ml-3 flex-auto truncate">{{.Text}}</span>
                                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path></svg>
                                </a>
                            </li>
                        {{end}}
                    </ul>
                </li>
            </ul>
            <ul id="search-results" class="hidden max-h-96 overflow-y-auto p-2 text-sm text-gray-700"></ul>
            <div id="search-no-results" class="hidden py-14 px-6 text-center sm:px-14">
                <svg class="mx-auto h-6 w-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>
                </svg>
                <p class="mt-4 text-sm text-gray-900"></p>
            </div>
        </div>
    </div>

    <nav id="mobile-menu" class="hidden overflow-scroll bg-gray-400/90 z-50 fixed right-0 left-0 top-0 bottom-0 h-screen w-screen">
        <span class="toggle-mobile-nav fixed top-10 right-10" >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
        </span>
        <div class="bg-white max-w-[calc(100vw-100px)] py-6 px-4">
            <ul class="quicklinks flex flex-col mb-8">
                {{range .SiteConfig.QuickLinks}}
                    <li>
                        <a href="{{.Link}}" class="flex flex-row gap-2 p-1.5 rounded-lg hover:bg-gray-200/80">
                            <span class="material-symbols-outlined">{{.Icon}}</span>
                            {{.Text}}
                        </a>
                    </li>
                {{end}}
            </ul>
            {{.Navigation}}
        </div>
    </nav>

    <script id="search-result-template" type="text/x-js-template">
        <li class="text-gray-700 group cursor-default select-none items-center rounded-md px-3 py-2 hover:text-blue-500">
            <a class="flex items-center" href="/${link}">
                <svg class="h-6 w-6 flex-none" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z"></path></svg>
                <span class="ml-3 flex-grow flex-auto truncate">${title}</span>
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path></svg>
                <span class="ml-3 hidden flex-none text-indigo-100">Jump to...</span>
            </a>
        </li>
    </script>

    <!-- Zoomed image overlay -->
    <div id="zoomed-image-overlay" class="hidden fixed bg-white/90 top-0 right-0 w-full h-full z-50 text-center px-[15%] py-[5%] cursor-zoom-out">
        <div class="w-full">
            <img src="https://placehold.co/600x400" alt="image" class="w-full bg-white rounded-md place-content-center shadow-xl">
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/fuse.js@7.0.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="/doco.js"></script>
</body>
</html>
